{{- $place := promptString "place: home|work" -}}
{{- $machine := promptString "machine: laptop|desktop" -}}
{{- $wm := promptString "window manager: awesome|i3" -}}
{{- $wired := promptString "wired interface" -}}
{{- $wifi := promptString "wifi interface" -}}
[data]
  freenode_user = "jhillyerd"
  freenode_password = "SETME"
  place = "{{ $place }}"
  machine = "{{ $machine }}"
  wired = "{{ $wired }}"
  wifi = "{{ $wifi }}"
  wm = "{{ $wm }}"
