{{- $places := list "home" "work" -}}
{{- $place := promptChoiceOnce . "place" "Place" $places -}}
{{- $machines := list "laptop" "desktop" -}}
{{- $machine := promptChoiceOnce . "machine" "Machine type" $machines -}}
{{- $wms := list "awesome" "i3" -}}
{{- $wm := promptChoice "Window manager" $wms -}}
{{- $wired := promptStringOnce . "wired" "Wired interface" "eth0" -}}
{{- $wifi := promptStringOnce . "wifi" "Wifi interface" "wlp0s2" -}}
[data]
  freenode_user = "jhillyerd"
  freenode_password = "SETME"
  place = "{{ $place }}"
  machine = "{{ $machine }}"
  wired = "{{ $wired }}"
  wifi = "{{ $wifi }}"
  wm = "{{ $wm }}"
