{{- $places := list "home" "work" -}}
{{- $place := promptChoiceOnce . "place" "Place" $places -}}
{{- $machines := list "laptop" "desktop" -}}
{{- $machine := promptChoiceOnce . "machine" "Machine type" $machines -}}
{{- $wired := promptStringOnce . "wired" "Wired interface" "eth0" -}}
{{- $wifi := promptStringOnce . "wifi" "Wifi interface" "wlp0s2" -}}
[data]
  place = "{{ $place }}"
  machine = "{{ $machine }}"
  wired = "{{ $wired }}"
  wifi = "{{ $wifi }}"
