#!/bin/sh

# necessary to make Chrome pick up the proxy settings stored in gconf.
export DESKTOP_SESSION=gnome

# fish slows down hot key activations, use sh
export SXHKD_SHELL=/bin/sh

sxhkd &                      # hot key daemon
xsetroot -solid '#333333'    # set background
xset -b                      # disable audible bell

setxkbmap -option compose:sclk

# NOTE: This may break your compose key
export GTK_IM_MODULE=xim

# Audio
command -v start-pulseaudio-x11 >/dev/null && start-pulseaudio-x11

{{- if eq .machine "desktop" }}
# Mouse config
xinput set-button-map "Kingsis Peripherals Evoluent VerticalMouse 4" \
  1 2 3 4 5 6 7 9 7 8
command -v imwheel >/dev/null && imwheel
{{- end }}

# Setup screen locker
dimmer="/usr/lib/xsecurelock/dimmer"
if [ ! -x "$dimmer" ]; then
  dimmer="$(dirname $(dirname $(readlink -f $(command -v xsecurelock))))/libexec/xsecurelock/dimmer"
fi
xset s 600 5
xss-lock -n "$dimmer" -l -- xsecurelock &

# Notifications
command -v dunst >/dev/null && dunst &

exec {{ .wm }}
