#!/bin/sh

# necessary to make Chrome pick up the proxy settings stored in gconf.
export DESKTOP_SESSION=gnome

urxvtd -q -f -o              # urxvt daemon
sxhkd &                      # hot key daemon
xsetroot -solid '#333333'    # set background
xset -b                      # disable audible bell

setxkbmap -option compose:sclk

# NOTE: This may break your compose key
export GTK_IM_MODULE=xim

# Audio
start-pulseaudio-x11

{{- if eq .machine "desktop" }}
# Mouse config
xinput set-button-map "Kingsis Peripherals Evoluent VerticalMouse 4" \
  1 2 3 4 5 6 7 9 7 8
imwheel
{{- end }}

xautolock -time 10 -locker "$HOME/.scripts/lock-screen.sh" &

polybar -q main &

exec i3
