# fonts we'll be reusing here and there
awesome: &awesome Font Awesome 6 Free:style=solid:pixelsize=14
awesome_brands: &awesome_brands Font Awesome 6 Brands:pixelsize=16

std_underline: &std_underline {underline: { size: 2, color: ff0000ff}}

awesome_icon: &awesome_icon
  font: *awesome
  foreground: 808080ff
  margin: 3

# This is THE bar configuration
bar:
  height: 26
  location: bottom
  spacing: 5
  left-margin: 0
  right-margin: 7

  # Default font
  font: Droid Sans:pixelsize=13

  foreground: ffffffff
  background: 252525ff

  border:
    width: 1
    color: 404040ff
    margin: 0

  left:
    - i3:
        anchors: # Not used (directly) by f00bar; used here to avoid duplication
          - string: &i3_common {margin: 5, on-click: "swaymsg --quiet workspace {name}"}
          - string: &default {<<: *i3_common, text: "{name}"}
          - string: &main    {<<: *i3_common, text: , font: *awesome}
          - string: &surfing {<<: *i3_common, text: , font: *awesome_brands}
          - string: &misc    {<<: *i3_common, text: , font: *awesome}
          - string: &mail    {<<: *i3_common, text: , font: *awesome}
          - string: &music   {<<: *i3_common, text: , font: *awesome}
          - focused: &focused
              deco: {stack: [background: {color: ffa0a04c}, <<: *std_underline]}
          - invisible: &invisible {foreground: ffffff55}
          - urgent: &urgent
              foreground: 000000ff
              deco: {stack: [background: {color: bc2b3fff}, <<: *std_underline]}
          - map: &i3_mode
              default:
                - string:
                    margin: 5
                    text: "{mode}"
                    deco: {background: {color: cc421dff}}
                - empty: {right-margin: 7}
              conditions:
                mode == default: {empty: {}}
        sort: native
        content:
          "":
            map:
              conditions:
                state == focused:   {string: {<<: [*default, *focused]}}
                state == unfocused: {string: {<<: *default}}
                state == invisible: {string: {<<: [*default, *invisible]}}
                state == urgent:    {string: {<<: [*default, *urgent]}}
          main:
            map:
              conditions:
                state == focused:   {string: {<<: [*main, *focused]}}
                state == unfocused: {string: {<<: *main}}
                state == invisible: {string: {<<: [*main, *invisible]}}
                state == urgent:    {string: {<<: [*main, *urgent]}}
          surfing:
            map:
              conditions:
                state == focused: {string: {<<: [*surfing, *focused]}}
                state == unfocused: {string: {<<: *surfing}}
                state == invisible: {string: {<<: [*surfing, *invisible]}}
                state == urgent:    {string: {<<: [*surfing, *urgent]}}
          misc:
            map:
              conditions:
                state == focused: {string: {<<: [*misc, *focused]}}
                state == unfocused: {string: {<<: *misc}}
                state == invisible: {string: {<<: [*misc, *invisible]}}
                state == urgent:    {string: {<<: [*misc, *urgent]}}

          mail:
            map:
              conditions:
                state == focused: {string: {<<: [*mail, *focused]}}
                state == unfocused: {string: {<<: *mail}}
                state == invisible: {string: {<<: [*mail, *invisible]}}
                state == urgent:    {string: {<<: [*mail, *urgent]}}
          music:
            map:
              conditions:
                state == focused: {string: {<<: [*music, *focused]}}
                state == unfocused: {string: {<<: *music}}
                state == invisible: {string: {<<: [*music, *invisible]}}
                state == urgent:    {string: {<<: [*music, *urgent]}}

    - foreign-toplevel:
        content:
          map:
            conditions:
              ~activated: {empty: {}}
              activated:
                - string: {text: "{app-id}", foreground: ffa0a0ff}
                - string: {text: ": {title}"}
  center:
    - mpd:
        host: /run/mpd/socket
        anchors:
          list: &artist_album_title
            spacing: 0
            items:
              - map:
                  conditions:
                    state == playing: {string: {text: "{artist}"}}
                    state == paused: {string: {text: "{artist}", foreground: ffffff66}}
              - string: {text: " | ", foreground: ffffff66}
              - map:
                  conditions:
                    state == playing: {string: {text: "{album}"}}
                    state == paused: {string: {text: "{album}", foreground: ffffff66}}
              - string: {text: " | ", foreground: ffffff66}
              - map:
                  conditions:
                    state == playing: {string: {text: "{title}", foreground: ffa0a0ff}}
                    state == paused: {string: {text: "{title}", foreground: ffffff66}}

        content:
          map:
            margin: 10
            conditions:
              state == offline: {string: {text: offline, foreground: ff0000ff}}
              state == stopped: {string: {text: stopped}}
              state == paused: {list: *artist_album_title}
              state == playing: {list: *artist_album_title}

  right:
    - script: # disk space
        path: ~/.scripts/yambar-disk
        poll-interval: 5000
        content:
          - string: {text: , <<: *awesome_icon}
          - string: {text: "{avail}"}

    - removables:
        anchors:
          drive: &drive { text: , font: *awesome}
          optical: &optical {text: , font: *awesome}
        spacing: 5
        content:
          map:
            conditions:
              ~mounted:
                map:
                  on-click: udisksctl mount -b {device}
                  conditions:
                    ~optical: [{string: *drive}, {string: {text: "{label}"}}]
                    optical: [{string: *optical}, {string: {text: "{label}"}}]
              mounted:
                map:
                  on-click: udisksctl unmount -b {device}
                  conditions:
                    ~optical:
                      - string: {<<: *drive, deco: *std_underline}
                      - string: {text: "{label}"}
                    optical:
                      - string: {<<: *optical, deco: *std_underline}
                      - string: {text: "{label}"}
    - sway-xkb:
        identifiers: [1:1:AT_Translated_Set_2_keyboard]
        content:
          - string: {text: , <<: *awesome_icon}
          - string: {text: "{layout}"}

    - cpu:
        poll-interval: 2500
        content:
          map:
            conditions:
              id < 0:
                - string: {text: , <<: *awesome_icon}
                - string: {text: "{cpu}%"}

    - mem:
        poll-interval: 2500
        content:
          - string: {text: , <<: *awesome_icon}
          - string: {text: "{percent_used}%"}

    - network:
        content:
          map:
            default: {empty: {}}
            conditions:
              name == {{ .wired }}:
                map:
                  conditions:
                    ~carrier: {empty: {}}
                    carrier:
                      map:
                        default: {string: {text: , <<: *awesome_icon}}
                        conditions:
                          state == up && ipv4 != "":
                            - string: {text: , <<: *awesome_icon}
                            - string: {text: "{ipv4}"}
    - network:
        poll-interval: 1000
        content:
          map:
            default: {empty: {}}
            conditions:
              name == {{ .wifi }}:
                map:
                  default:
                    - string: {text: , <<: *awesome_icon}
                    - string: {text: "{ssid}?"}
                  conditions:
                    state == down: {string: {text: , <<: *awesome_icon, foreground: ff0000ff}}
                    state == up:
                      map:
                        default:
                          - string: {text: , <<: *awesome_icon}
                          - string: {text: "{ssid} ↓{dl-speed:mb}/↑{ul-speed:mb} Mb/s"}

                        conditions:
                          ipv4 == "":
                            - string: {text: , <<: *awesome_icon, foreground: ffffff66}
                            - string: {text: "{ssid} ...", foreground: ffffff66}

    - pipewire:
        anchors:
          volume: &volume
            conditions:
              muted: {string: {text: "{linear_volume}%", foreground: ff0000ff}}
              ~muted: {string: {text: "{linear_volume}%"}}
        content:
          list:
            on-click:
              wheel-up: "wpctl set-volume @DEFAULT_SINK@ 3%+"
              wheel-down: "wpctl set-volume @DEFAULT_SINK@ 3%-"
            items:
              - map:
                  default: {empty: {}}
                  conditions:
                    type == "sink":
                      map:
                        conditions:
                          icon == "audio-headset-bluetooth":
                            string: {text: "🎧  "}
                        default:
                          - ramp:
                              tag: linear_volume
                              items:
                                - string: {text: , <<: *awesome_icon}
                                - string: {text: , <<: *awesome_icon}
                                - string: {text: , <<: *awesome_icon}
              - map:
                  conditions:
                    type == "source": {empty: {}}
                  default:
                    map:
                      <<: *volume


{{ if eq .machine "laptop" }}
    - backlight:
        name: nvidia_0
        content: [ string: {text: , <<: *awesome_icon}, string: {text: "{percent}%"}]

    - battery:
        name: BAT0
        poll-interval: 30000
        anchors:
          discharging: &discharging
            list:
              items:
                - ramp:
                    tag: capacity
                    items:
                      - string: {text: , foreground: ff0000ff, font: *awesome}
                      - string: {text: , foreground: ffa600ff, font: *awesome}
                      - string: {text: , <<: *awesome_icon}
                      - string: {text: , <<: *awesome_icon}
                      - string: {text: , <<: *awesome_icon}
                      - string: {text: , <<: *awesome_icon}
                      - string: {text: , <<: *awesome_icon}
                      - string: {text: , <<: *awesome_icon}
                      - string: {text: , <<: *awesome_icon}
                      - string: {text: , foreground: 00ff00ff, font: *awesome}
                - string: {text: "{capacity}% {estimate}"}
        content:
          map:
            conditions:
              state == unknown:
                <<: *discharging
              state == discharging:
                <<: *discharging
              state == charging:
                - string: {text: , foreground: 00ff00ff, font: *awesome}
                - string: {text: "{capacity}% {estimate}"}
              state == full:
                - string: {text: , foreground: 00ff00ff, font: *awesome}
                - string: {text: "{capacity}% full"}
              state == "not charging":
                - ramp:
                    tag: capacity
                    items:
                      - string: {text:  , foreground: ff0000ff, font: *awesome}
                      - string: {text:  , foreground: ffa600ff, font: *awesome}
                      - string: {text:  , foreground: 00ff00ff, font: *awesome}
                      - string: {text:  , foreground: 00ff00ff, font: *awesome}
                      - string: {text:  , foreground: 00ff00ff, font: *awesome}
                      - string: {text:  , foreground: 00ff00ff, font: *awesome}
                      - string: {text:  , foreground: 00ff00ff, font: *awesome}
                      - string: {text:  , foreground: 00ff00ff, font: *awesome}
                      - string: {text:  , foreground: 00ff00ff, font: *awesome}
                      - string: {text:  , foreground: 00ff00ff, font: *awesome}
                - string: {text: "{capacity}%"}
{{ end }}

    - clock:
        time-format: "%H:%M %Z"
        content:
          - string: {text: , <<: *awesome_icon}
          - string: {text: "{date}", right-margin: 5}
          - string: {text: , <<: *awesome_icon}
          - string: {text: "{time}"}
