[Default Applications]
text/html=user-browser.desktop
application/xhtml+xml=user-browser.desktop
x-scheme-handler/http=user-browser.desktop
x-scheme-handler/https=user-browser.desktop
x-scheme-handler/about=user-browser.desktop
x-scheme-handler/unknown=user-browser.desktop
x-scheme-handler/logseq=Logseq.desktop
x-scheme-handler/slack=slack.desktop
x-scheme-handler/claude=claude-desktop.desktop
x-scheme-handler/claude-cli=claude-desktop.desktop
x-scheme-handler/codex=chatgpt.desktop
x-scheme-handler/chatgpt=chatgpt-url-handler.desktop

[Added Associations]
text/html=user-browser.desktop;
application/xhtml+xml=user-browser.desktop;
x-scheme-handler/http=user-browser.desktop;
x-scheme-handler/https=user-browser.desktop;
